<h4 style="text-align: center;">Week 5 - High Intensity Strength</h4><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Monday</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
    </tr>
  </thead>
  <tbody>
    <tr><th></th><th>Squat</th><th>{{inputs[1]*0.975|round}}x1-4</th></tr>
    <tr><th></th><th>Deadlift</th><th>{{inputs[2]*0.675|round}}x4</th><th>{{inputs[2]*0.7|round}}x4</th><th>{{inputs[2]*0.725|round}}x2</th></tr>
    <tr><th></th><th>Optional Exercise 1</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
    <tr><th></th><th>Optional Exercise 2</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
  </tbody>
</table>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Wednesday</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
    </tr>
  </thead>
  <tbody>
    <tr><th></th><th>Bench Press</th><th>{{inputs[0]*0.975|round}}x1-4</th></tr>
    <tr><th></th><th>Dumbbell Row</th><th>x8</th><th>x6</th><th>x6</th></tr>
    <tr><th></th><th>Standing Dumbbell OHP</th><th>x8</th><th>x6</th><th>x6</th></tr>
    <tr><th></th><th>Weighted Pull-up</th><th>x8</th><th>x6</th><th>x6</th></tr>
    <tr><th></th><th>Optional Exercise 1</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
    <tr><th></th><th>Optional Exercise 2</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
  </tbody>
</table>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Friday</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
    </tr>
  </thead>
  <tbody>
    <tr><th></th><th>Deadlift</th><th>{{inputs[2]*0.975|round}}x1-4</th></tr>
    <tr><th></th><th>Optional Exercise 1</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
    <tr><th></th><th>Optional Exercise 2</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
  </tbody>
</table>
