<h4 style="text-align: center;">Week 6</h4><br>
<p>
  Option 1:  Skip Week 6.  Just use projected one rep max from last week's 1-4 rep set.  Start next cycle.<br>
  Option 2.  Use projected max for next cycle, but take a deload week (repeat week 1 but skip last upper workout).<br>
  Option 3.  Take this 6th week to actually find your 1 rep max.  Then either deload or start new cycle.<br>
  <br>
  Determining Projected Max:
  Take what you lifted in week 5, and multiply by 1.03 if you completed 2 reps, 1.06 if 3 reps, and 1.09 if 4 reps.<br>
</p>
