<h4 style="text-align: center;">Week 2 - Muscular Conditioning/Hypertrophy</h4><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Monday</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
    </tr>
  </thead>
  <tbody>
    <tr><th></th><th>Squat</th><th>{{inputs[1]*0.8|round}}xMax Reps up to 10</th><th>Extra Volume Squats</th></tr>
    <tr><th></th><th>Deadlift</th><th>x8</th><th>x8</th><th>x8</th></tr>
    <tr><th></th><th>Optional Exercise 1</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
    <tr><th></th><th>Optional Exercise 2</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
  </tbody>
</table>
<span class="help-block" style="color: red;">***EXTRA VOLUME SQUATS ***<br>
  Extra Volume Squats - Add 5 lbs or 2.5 kg if using kg plates,
  then perform 5 sets x 3 reps each set with 60 seconds rest between sets.<br>
</span>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tuesday</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
    </tr>
  </thead>
  <tbody>
    <tr><th></th><th>Bench Press</th><th>{{inputs[0]*0.725|round}}x10</th><th>{{inputs[0]*0.775|round}}x8</th><th>{{(inputs[0]*0.8|round)+5}}x6-8</th></tr>
    <tr><th></th><th>Dumbbell Row</th><th>x10</th><th>x8</th><th>x8</th></tr>
    <tr><th></th><th>Standing Dumbbell OHP</th><th>x10</th><th>x8</th><th>x6</th></tr>
    <tr><th></th><th>Weighted Pull-up</th><th>x10</th><th>x8</th><th>x6</th></tr>
    <tr><th></th><th>Optional Exercise 1</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
    <tr><th></th><th>Optional Exercise 2</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
  </tbody>
</table>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Thursday</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
    </tr>
  </thead>
  <tbody>
    <tr><th></th><th>Squat</th><th>{{(inputs[1]*0.8|round)+5}}xMax Reps up to 10</th><th>Back Off Squats</th></tr>
    <tr><th></th><th>Deadlift</th><th>x8</th><th>x8</th><th>x8</th></tr>
    <tr><th></th><th>Optional Exercise 1</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
    <tr><th></th><th>Optional Exercise 2</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
  </tbody>
</table>
<span class="help-block" style="color: red;">***BACK OFF SQUATS ***<br>
  If you were able to complete 10 reps on the MR10 set,
  perform 10 sets of 3 reps per set, with 60 seconds rest between sets.<br>
  If you completed 8-9 reps on the MR10 set, perform 8 sets of 3 reps per set, with 60 seconds rest between sets.<br>
  If you completed 7 reps on the MR 10 set, perform 5 sets of 3 reps per set, with 60 seconds rest between sets.<br>
  If you completed less than 7 reps, skip back off sets entirely
  and reduce your entered 1 rep max by at least 2.5% for following weeks.<br>
</span>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Friday</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
    </tr>
  </thead>
  <tbody>
    <tr><th></th><th>Bench Press</th><th>{{inputs[0]*0.725|round}}x10</th><th>{{inputs[0]*0.775|round}}x8</th><th>{{(inputs[0]*0.8|round)+5}}x6-8</th></tr>
    <tr><th></th><th>Dumbbell Row</th><th>x10</th><th>x8</th><th>x8</th></tr>
    <tr><th></th><th>Standing Dumbbell OHP</th><th>x10</th><th>x8</th><th>x6</th></tr>
    <tr><th></th><th>Weighted Pull-up</th><th>x10</th><th>x8</th><th>x6</th></tr>
    <tr><th></th><th>Optional Exercise 1</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
    <tr><th></th><th>Optional Exercise 2</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
  </tbody>
</table>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Sunday</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
    </tr>
  </thead>
  <tbody>
    <tr><th></th><th>Bench Press</th><th>{{(inputs[0]*0.8|round)-5}}xMax Reps</th></tr>
    <tr><th></th><th>Dumbbell Row</th><th>x10</th><th>x8</th><th>x8</th></tr>
    <tr><th></th><th>Standing Dumbbell OHP</th><th>x10</th><th>x8</th><th>x6</th></tr>
    <tr><th></th><th>Weighted Pull-up</th><th>x10</th><th>x8</th><th>x6</th></tr>
    <tr><th></th><th>Optional Exercise 1</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
    <tr><th></th><th>Optional Exercise 2</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
  </tbody>
</table>
