<h4 style="text-align: center;">Week 1 - Muscular Conditioning</h4><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Monday</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
      <th>Set 4</th>
    </tr>
  </thead>
  <tbody>
    <tr><th></th><th>Squat</th><th>{{ inputs[1] * 0.8 | round }}x6</th><th>{{ inputs[1] * 0.8 | round }}x6</th><th>{{ inputs[1] * 0.8 | round }}x6</th><th>{{ inputs[1] * 0.8 | round }}x6</th></tr>
    <tr><th></th><th>Deadlift</th><th>{{ inputs[2] * 0.8 | round }}x6</th><th>{{ inputs[2] * 0.8 | round }}x6</th></tr>
    <tr><th></th><th>Optional Exercise 1</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
    <tr><th></th><th>Optional Exercise 2</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
  </tbody>
</table>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tuesday</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
      <th>Set 4</th>
    </tr>
  </thead>
  <tbody>
    <tr><th></th><th>Bench Press</th><th>{{inputs[0]*0.5|round}}x10</th><th>{{inputs[0]*0.675|round}}x10</th><th>{{inputs[0]*0.75|round}}x8</th><th>{{inputs[0]*0.775|round}}x6</th></tr>
    <tr><th></th><th>Dumbbell Row</th><th>x10</th><th>x10</th><th>x8</th><th>x6</th></tr>
    <tr><th></th><th>Standing Dumbbell OHP</th><th>x12</th><th>x12</th><th>x10</th><th>x8</th></tr>
    <tr><th></th><th>Weighted Pull-up</th><th>x12</th><th>x12</th><th>x10</th><th>x8</th></tr>
    <tr><th></th><th>Optional Exercise 1</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
    <tr><th></th><th>Optional Exercise 2</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
  </tbody>
</table>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Thursday</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
      <th>Set 4</th>
    </tr>
  </thead>
  <tbody>
    <tr><th></th><th>Bench Press</th><th>{{inputs[0]*0.5|round}}x10</th><th>{{inputs[0]*0.675|round}}x10</th><th>{{inputs[0]*0.75|round}}x8</th><th>{{inputs[0]*0.775|round}}x6</th></tr>
    <tr><th></th><th>Dumbbell Row</th><th>x10</th><th>x10</th><th>x8</th><th>x6</th></tr>
    <tr><th></th><th>Standing Dumbbell OHP</th><th>x12</th><th>x12</th><th>x10</th><th>x8</th></tr>
    <tr><th></th><th>Weighted Pull-up</th><th>x12</th><th>x12</th><th>x10</th><th>x8</th></tr>
    <tr><th></th><th>Optional Exercise 1</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
    <tr><th></th><th>Optional Exercise 2</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
  </tbody>
</table>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Friday</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
      <th>Set 4</th>
    </tr>
  </thead>
  <tbody>
    <tr><th></th><th>Squat</th><th>{{ inputs[1] * 0.7 | round }}x8</th><th>{{ inputs[1] * 0.7 | round }}x8</th><th>{{ inputs[1] * 0.7 | round }}x8</th><th>{{ inputs[1] * 0.7 | round }}x8</th></tr>
    <tr><th></th><th>Deadlift</th><th>{{ inputs[2] * 0.7 | round }}x8</th><th>{{ inputs[2] * 0.7 | round }}x8</th></tr>
    <tr><th></th><th>Optional Exercise 1</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
    <tr><th></th><th>Optional Exercise 2</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
  </tbody>
</table>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Saturday</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
      <th>Set 4</th>
    </tr>
  </thead>
  <tbody>
    <tr><th></th><th>Bench Press</th><th>{{inputs[0]*0.8|round}}xMax Reps</th></tr>
    <tr><th></th><th>Dumbbell Row</th><th>x10</th><th>x10</th><th>x8</th><th>x6</th></tr>
    <tr><th></th><th>Standing Dumbbell OHP</th><th>x12</th><th>x12</th><th>x10</th><th>x8</th></tr>
    <tr><th></th><th>Weighted Pull-up</th><th>x12</th><th>x12</th><th>x10</th><th>x8</th></tr>
    <tr><th></th><th>Optional Exercise 1</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
    <tr><th></th><th>Optional Exercise 2</th><th>x8-12</th><th>x8-12</th><th>x8-12</th></tr>
  </tbody>
</table>
