<div class="row">
  <h2 style="text-align: center;">Welcome to the Health Planner</h2>
  <hr>
  <div class="col-xs-5">
    <button class="btn btn-success btn-block" (click)="onStrength()">Try Strength Program</button>
  </div>
  <div class="col-xs-7">
    <p>This program puts an emphasis on strength and is primarily meant for body builders.
      In a six week span, strength will be built by dividing each week as follows: <br><br>
      Week One: Muscular Conditioning <br>
      Week Two: Hypertrophy <br>
      Week Three: Linear Max OT <br>
      Week Four: Heavy Weight Acclimation/Explosiveness <br>
      Week Five: Intense Strength Training <br>
      Week Six: Deload (Optional) <br><br>
      For more information, please click
      <a href="http://www.canditotraininghq.com/free-programs/">here</a>.
    </p>
  </div>
  <div class="col-xs-5">
    <hr>
    <button class="btn btn-success btn-block" (click)="onWeightLoss()">Try Weight Loss Program</button>
  </div>
  <div class="col-xs-7">
    <hr>
    <p>This program is meant for those looking to lose weight.
      In a six week span, maximum fat loss will be stimulated by having 3 full body workouts,
      2 cardio workouts, and 2 rest days per week. <br><br>
      For more information, please click
      <a href="http://www.muscleandfitness.com/workouts/workout-routines/6-week-fat-blast-workout-routine">here</a>.
    </p>
  </div>
</div>
