<div class="row">
  <div class="col-xs-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Week</th><th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td><td>Rest</td><td>Workout A</td><td>Cardio A</td><td>Workout B</td><td>Rest</td><td>Workout A</td><td>Cardio B</td>
        </tr>
        <tr>
          <td>2</td><td>Rest</td><td>Workout B</td><td>Cardio A</td><td>Workout A</td><td>Rest</td><td>Workout B</td><td>Cardio B</td>
        </tr>
        <tr>
          <td>3</td><td>Rest</td><td>Workout A</td><td>Cardio A</td><td>Workout B</td><td>Rest</td><td>Workout A</td><td>Cardio B</td>
        </tr>
        <tr>
          <td>4</td><td>Rest</td><td>Workout B</td><td>Cardio A</td><td>Workout A</td><td>Rest</td><td>Workout B</td><td>Cardio B</td>
        </tr>
        <tr>
          <td>5</td><td>Rest</td><td>Workout A</td><td>Cardio A</td><td>Workout B</td><td>Rest</td><td>Workout A</td><td>Cardio B</td>
        </tr>
        <tr>
          <td>6</td><td>Rest</td><td>Workout B</td><td>Cardio A</td><td>Workout A</td><td>Rest</td><td>Workout B</td><td>Cardio B</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
  <div class="row">
    <div class="col-xs-3 col-border">
      <h4>Workout A</h4>
      <p>
        1. Bench Press: 2 sets of 8<br>
        2. Squat: 3 sets of 8<br>
        3. Barbell Row: 3 sets of 8<br>
        4. Dumbbell Lunges: 3 sets of 10<br>
        5. Shoulder Press: 3 sets of 10<br>
        6. Barbell Curl: 2 sets of 12<br>
        7. Seated Tricep Press: 2 sets of 12<br>
        8. Hanging Leg Raise: 2-3 sets of 15<br>
      </p>
    </div>
    <div class="col-xs-3 col-border">
      <h4>Workout B</h4>
      <p>
        1. Bench Press: 2 sets of 8<br>
        2. Leg Press: 3 sets of 8<br>
        3. Lat Pulldown: 3 sets of 8<br>
        4. Leg Extensions: 2 sets of 10<br>
        5. Hamstring Curl: 2 sets of 10<br>
        6. Side Lateral Raise: 2 sets of 10<br>
        7. Calf Raises: 2 sets of 10-12<br>
        8. Exercise Ball Crunch: 3 sets of 15<br>
      </p>
    </div>
    <div class="col-xs-3 col-border">
      <h4>Cardio A</h4>
      <p>
        1. Hill Sprint: 30 seconds<br>
        2. Elbow Plank: 30 seconds<br>
        3. Hill Sprint: 30 seconds<br>
        4. Dumbbell Reverse Crunch: 30 reps<br>
        5. Hill Sprint: 30 seconds<br>
        6. Ab Wheel Rollout: 30 reps<br>
        7. Repeat above 8-10 times<br>
        8. General Cooldown: 5-10 min<br>
      </p>
    </div>
    <div class="col-xs-3">
      <h4>Cardio B</h4>
      <p>
        1. Hill Sprint: 60 seconds<br>
        2. Kneeling Cable Crunches: 20 reps<br>
        3. Farmer's Carry: As long as possible<br>
        4. Hill Sprint: 60 seconds<br>
        5. Lateral Medicine Ball Toss: 20 reps<br>
        6. Farmer's Carry: As long as possible<br>
        7. Repeat above 6-8 times<br>
        8. General Cooldown: 5-10 min<br>
      </p>
    </div>
    <p style="color:red;">*Remember to warm up before each and every exercise!</p>
  </div>
</div>
